.swiper-container {
    margin: 0 200px; 
  }
.swiper-button-next, .swiper-button-prev {
    color: #ffffff; 
    background-color: skyblue; 
    border-radius: 100%; 
    padding: 25px;
    width: 40px; 
    height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    z-index: 10;
  }
  
  .swiper-button-next::after, .swiper-button-prev::after {
    font-size: 1.50rem; 
  }
  
  .swiper-button-next {
    right: 16px; 
  }
  
  .swiper-button-prev {
    left: 16px; 
  }
  
  .swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: blue; 
  }
  